google-generativeai==0.3.2
# torch==2.7.0
# transformers==4.52.3
sentence-transformers==2.5.1
chromadb==1.0.12
python-dotenv==1.0.1
pdf2image==1.17.0
pytesseract==0.3.13
python-multipart==0.0.9
# numpy==2.2.6
# pandas==2.2.3
# pillow==11.2.1
pyMuPDF==1.26.0
# fastapi==0.115.9
# uvicorn==0.34.2
python-magic==0.4.27
pydantic-settings==2.9.1
# icecream==2.1.4
# streamlit==1.45.1
